.titlehead{
    background-color: #e1eefa;
    padding: 3%;text-align: center;
    
    
}
.faqtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: darkblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 1px;

}

.faqtitle2 {
    margin-top: 0px;
    color: rgb(49, 125, 224);
    padding-top: 1px;
    line-height: 0.25;
    margin-bottom: 70px;
    
}

.text-explanation {
    margin-top: 17%;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: slategray;
    text-align: center;
}

.imageabout{

    margin-top: 40%;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);

}
.Values{

    background-color: #e1eefa;
}

.mVTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10%;
    color: rgb(49, 125, 224);
    padding-top: 7%;
    text-align: center;
    margin-bottom: 2%;
    
    
}

.rounded-circle{
    margin-top: 15%;
    height: 140px;
    width: 140px;

}

.card-deck{
    padding-bottom: 5%;
}
.card{
    box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
    border-radius: 4%;
    margin-bottom: 3%;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(49, 125, 224);
    text-align: center;
    
}
p {
    margin:10%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: slategray;
    text-align: justify;
    background-color: #ffffff;
    
}


.Statement{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
    background-color: #ffffff;
    color: rgb(49, 125, 224);
    text-align: center;
    margin-bottom: 2%;
  
    
    
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }