body{
    background-color: #e1eefa;
    
    
}
.faqtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: darkblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 1px;

}

.faqtitle2{
    margin-top: 0px;
    color: rgb(49, 125, 224);
    padding-top: 1px;
    line-height: 0.25;
    margin-bottom: 70px;
}

.faqcard {
  padding: 2%;
  margin: 2%;
  margin-left: 8%;
  margin-right: 8%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  border-radius: 5px;
  background-color: whitesmoke;

}


.btn-primary{


  align-items: center;
  justify-items: end;
    
}



.align-right{
    text-align : right;
  }



.card-body{
    background-color:  #e1eefa;
}

.accordion{
    margin: 30px;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.text-uppercase a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.view{
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-top: 5%;
}

.card-cascade{
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 2%;
    border-radius: 25px;

}

.card-body2{
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 25px;
}

.icons{
    margin: 3%
}